<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- Services -->
	<bean id="contactService" class="service.ContactService">
		<property name="contactDAO" ref="contactDAO"/>
	</bean>
	<bean id="adressService" class="service.AdresseService">
		<property name="adressDAO" ref="adressDAO"/>
	</bean>
	<bean id="phoneNumberService" class="service.PhoneNumberService">
		<property name="phoneDAO" ref="phoneDAO"/>
	</bean>
	<bean id="groupService" class="service.GroupService">
		<property name="groupDAO" ref="groupDAO" />
	</bean>
	
	<bean id="FamilyGroup" class="modele.Group">
		<property name="id" value="1" />
		<property name="groupName" value="Family" />
	</bean>
	<bean id="WorkGroup" class="modele.Group">
		<property name="id" value="2" />
		<property name="groupName" value="Work" />
	</bean>
	<bean id="FriendsGroup" class="modele.Group">
		<property name="id" value="3" />
		<property name="groupName" value="Friends" />
	</bean>
		<bean id="Perso" class="modele.Group">
		<property name="id" value="4" />
		<property name="groupName" value="Perso" />
	</bean>
	
	<bean id="adresseDummy1" class="modele.Adresse">
		<property name="street" value="10 rue de Paris"/>
		<property name="city" value="Abidjan"/>
		<property name="zip" value="39000"/>
		<property name="country" value="Afrique"/>
	</bean>
	
	<bean id="adresseDummy2" class="modele.Adresse">
		<property name="street" value="10 rue du brexit"/>
		<property name="city" value="Londres"/>
		<property name="zip" value="25000"/>
		<property name="country" value="Angleterre"/>
	</bean>
	
	<bean id="adresseDummy3" class="modele.Adresse">
		<property name="street" value="10 rue duPont"/>
		<property name="city" value="Suresnes"/>
		<property name="zip" value="92150"/>
		<property name="country" value="France"/>
	</bean>
	
	<bean id="adresseDummy4" class="modele.Adresse">
		<property name="street" value="10 money street"/>
		<property name="city" value="Los Angeles"/>
		<property name="zip" value="90001"/>
		<property name="country" value="Amerique"/>
	</bean>
	
	<bean id="phoneNumberDummy1" class="modele.PhoneNumber">
		<constructor-arg name="phoneKind" value="+15"/>
		<constructor-arg name="phoneNumber" value="123456789"/>
		<property name="contact" ref="addContactDummy1"/>
	</bean>
	
		<bean id="phoneNumberDummy2" class="modele.PhoneNumber">
		<property name="phoneKind" value="+33"/>
		<property name="phoneNumber" value="0777784203"/>
		<property name="contact" ref="addContactDummy2"/>
	</bean>
	
	<bean id="phoneNumberDummy3" class="modele.PhoneNumber">
		<property name="phoneKind" value="+52"/>
		<property name="phoneNumber" value="987654321"/>
		<property name="contact" ref="addContactDummy3"/>
	</bean>
	
	<bean id="phoneNumberDummy4" class="modele.PhoneNumber">
		<property name="phoneKind" value="+45"/>
		<property name="phoneNumber" value="987654321"/>
		<property name="contact" ref="addEntrepriseDummy"/>
	</bean>
	
	<bean id="addContactDummy1" class="modele.Contact" autowire="constructor">
		<constructor-arg type="String" value="Michanol"/>
		<constructor-arg type="String" value="Nathan"/>
		<constructor-arg type="String" value="nath@gmail.com"/>
		<constructor-arg ref="adresseDummy1"/>
		<constructor-arg>
			<set>
				<ref bean="phoneNumberDummy1"/>
			</set>
		</constructor-arg>
		<constructor-arg>
			<set>
				<ref bean="Perso"></ref>
				<ref bean="WorkGroup"></ref>
			</set>
		</constructor-arg>
	</bean>
	
	<bean id="addContactDummy2" class="modele.Contact" autowire="constructor">
		<property name="lastName" value="Petit-Pas"/>
		<property name="firstName" value="Alexandre"/>
		<property name="email" value="petitpasalexandre@gmail.com"/>
		<property name="adresse" ref="adresseDummy2"/>
		<property name="phoneNumbers">
			<set>
				<ref bean="phoneNumberDummy2"></ref>
			</set>
		</property>
		<property name="groups">
			<null/>
		</property>
	</bean>
		
		<bean id="addContactDummy3" class="modele.Contact" autowire="constructor">
		<property  name="lastName" value="Simon"/>
		<property  name="firstName" value="Ludwig"/>
		<property  name="email" value="lulu3000@gmail.com"/>
		<property  name="adresse" ref="adresseDummy3"/>
		<property name="phoneNumbers">
			<set>
				<ref bean="phoneNumberDummy3"></ref>
			</set>
		</property>
		<property name="groups">
			<null/>
		</property>
	</bean>
	
	<bean id="addEntrepriseDummy" class="modele.Entreprise" autowire="constructor">
		<property name="lastName" value="UnFondateur"/>
		<property name="firstName" value="PrenomFondateur"/>
		<property name="email" value="fondateurEmail@orange.com"/>
		<property name="adresse" ref="adresseDummy4"/>
		<property name="phoneNumbers">
			<set>
				<ref bean="phoneNumberDummy4"/>
			</set>
		</property>
		<property name="groups">
				<ref bean="WorkGroup"></ref>
		</property>
		<property name="name" value="Microsoft"/>
		<property name="numSiret" value="15975365485298"/>
	</bean>
	
	<!-- Config AOP -->
	<aop:config>
		<aop:aspect id="contactAspectBean" ref="contactLogger">
			<aop:before
				pointcut="execution(* domain.ContactDAO.addContact(modele.Contact)) and args(contact)"
				method="log" arg-names="contact"/>
		</aop:aspect>	
	</aop:config>
	<bean id="contactLogger" class="loggerAOP.ContactLogger"/>
	
	<!-- Integration Spring-Hibernate -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="getCatalog">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/MIAGE"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- DAOs -->
	<bean id="contactDAO" class="domain.ContactDAO">
	<constructor-arg>
	<ref bean="sessionFactory"/>
	</constructor-arg>
	</bean>
	<bean id="adressDAO" class="domain.AdressDAO">
	<constructor-arg>
	<ref bean="sessionFactory"/>
	</constructor-arg>
	</bean>
	<bean id="phoneDAO" class="domain.PhoneNumberDAO">
	<constructor-arg>
	<ref bean="sessionFactory"/>
	</constructor-arg>
	</bean>
	<bean id="groupDAO" class="domain.GroupDAO">
	<constructor-arg>
	<ref bean="sessionFactory"/>
	</constructor-arg>
	</bean>
	
	<aop:config>
		<aop:advisor pointcut="execution(* domain.*.*(..))" advice-ref="txAdvice"/>
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name= "*"/>
		</tx:attributes>
	</tx:advice>
</beans>